/* About me section */

.aboutMeSection {
    background-color: var(--bg--Light);
    height: var(--bgGrid--height);
    place-content: center;
}

.aboutMeConteiner {
    display: grid;
    grid-template-rows: 1, 100%;
    width: var(--bgGrid--Width);
    grid-template-columns: repeat(2, 50%);
    direction: rtl;
}

.img-container img {
    display: inline-block;
    width: var(--welcomeImg--width);
    height: var(--welcomeImg--height);
    margin: 0 auto;
    margin-right: calc((var(--bgGrid--Width)/2) - (var(--welcomeImg--width)));
}

.textContainer,
.img-container {
    margin-top: calc((((var(--bgGrid--height) - (var(--welcomeImg--height))))/2));
    margin-bottom: calc((((var(--bgGrid--height) - (var(--welcomeImg--height))))/2));
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    direction: ltr;
    font-size: var(--textContainer);
    color: var(--white);
    border-radius: 15px;
    background-color: var(--bg);
}

.textContainer h2,
.textContainer p,
.mySkillsContainer h3 {
    margin-left: 25px;
    margin-right: 25px;
}

.textContainer h2 {
    margin-top: 25px;
    margin-bottom: 1em;
}

.mySkillsContainer h3 {
    text-align: start;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-content: center;
    text-align: center;
}


.skillsName {
    font-size: var(--textContainer);
    color: var(--white);
    margin: 25px;
}

.skillsName span {
    border-bottom: 5px solid var(--redtext);
}