/* responsive */



@media (max-width: 960px) {

    :root {
        --welcomeImg--width: auto;
        --welcomeImg--height: 45vh;
    }

    .bgGrid {
        width: 70vw;
        height: 100vh;
        margin-left: 15vw;
        margin-right: 15vw;
        place-content: center;
    }

    .nav {
        gap: 0;
        justify-content: center;
        margin-left: 14.4vw;
        margin-right: 15vw;
    }

    .welcomeSection {
        height: calc(((var(--bgGrid--height)) - (6.4814814815vh)));
    }

    .welcomeContainer {
        display: flex;
        height: 100%;
        width: 70vw;
        justify-content: center;
        align-content: space-around;
        flex-wrap: wrap;
        margin-left: 15vw;
        margin-right: 15vw;
        padding: 0;
    }



    .aboutMeConteiner {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 0;
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .aboutMeConteiner .img-container img {
        margin: 0;
        width: var(--welcomeImg--width);
        height: var(--welcomeImg--height);
    }

    .img-container {
        margin: 0;
    }

    .mySkillsContainer {
        visibility: hidden;
        position: absolute;
    }

    .mySkillsContainer h3 {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .textContainer {
        font-size: medium;
        margin: 0;
        height: 45vh;
    }


    .firstContainerSkills,
    .secoundContainerSkills {
        display: flex;
        flex-direction: column;
        font-size: small;
        height: 5vh;
    }

    .textContainer h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .firstContainerSkills div,
    .secoundContainerSkills div {
        margin: 10px;
        width: 50px;
        height: 30px;
    }

    .section-title {
        font-size: small;
    }

    .skillsName span {
        font-size: 15px;
        border-bottom: none;
    }

    #myBtn {
        padding: 3px;
        display: block;
        margin: 10px;
    }

    .welcomeImage img {
        margin: 0;
        width: var(--welcomeImg--width);
        height: var(--welcomeImg--height);
    }

    .nav a {
        font-size: 14px;
    }

    .picLogo,
    .nameLogo {
        position: absolute;
        visibility: hidden;
    }

    .skillsContainer {
        height: auto;
        row-gap: 100px;
    }

    .card {
        width: 53vw;
    }

    .bg-image {
        width: 53vw;
    }

    .navLogo img {
        margin-top: 8px;
    }

    .firstText.text.firstText,
    .secoundText.text.secoundText {
        font-size: larger;
    }

    .verticalNav {
        margin-right: 1vw;
    }

    .navVer div {
        width: 30px;
        height: 30px;
    }

    .fa-solid,
    .fa-brands {
        margin-left: 6px;

    }

    .navVer i {
        place-content: center;
        font-size: 14px;
        height: 20px;
        color: white;
    }

}

@media (max-width: 550px) {



    .projectsSection div {
        gap: 0;
    }

    .JavaScriptTitle {
        margin: 0;
    }

    .card {
        margin: 0 25px;
        width: 250px;
        height: 200px;
    }

    .card img {
        width: 250px;
    }

    .card a img {
        width: 250px;
        height: 180px;
    }

    .containerHtmlCard {
        height: 200px;
        width: 300px;
    }

    #nameLogo {
        visibility: hidden;
    }
}