/* loyaut */
/* loyaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navbar-a: 25px;
  --welcomeAnimation-span: 30px;
  --sectionTitle-h1: 30px;
  --welcomeBtn: 20px;
  --textContainer: 30px;
  --skillsName: 30px;
  --bgGrid--Width: 70vw;
  --bgGrid--height: 100vh;
}

:root {
  --welcomeImg--width: 30vw;
  --welcomeImg--height: 77.99922vh;
}

:root {
  --white: #f7f7f7;
  --bg: #272727;
  --bg--Light: #3b3b3b;
  --headerbg: #1f1f1f;
  --redtext: #FF0000;
}

.bdGrid {
  display: grid;
  grid-template-columns: 100%;
  max-width: var(--bgGrid--Width);
  margin-left: 15vw;
  margin-right: 15vw;
  place-content: center;
}

.section-title {
  position: relative;
  font-size: var(--sectionTitle-h1);
  color: var(--redtext);
  text-align: center;
  z-index: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
}

/* nav bar Header */
/* nav bar Header */
.nav {
  display: flex;
  direction: rtl;
  justify-content: space-between;
  height: 6.4814814815vh;
}

.headerSection {
  background-color: var(--white);
  background-color: var(--headerbg);
  z-index: 100;
}

.navLogo {
  display: flex;
}

.navLogo div {
  place-content: center;
  align-self: center;
}

.liList {
  display: flex;
  justify-content: space-evenly;
  direction: ltr;
  align-items: center;
}

a {
  text-decoration: none;
  font: normal normal 900 37px Heebo;
  font-size: var(--navbar-a);
  font-weight: 700;
  letter-spacing: 0px;
  color: var(--white);
  opacity: 1;
  margin-top: 3.4522439586vh;
  margin-left: 0.78125vw;
  margin-right: 0.78125vw;
}

.nav ul {
  height: 6.4814814815vh;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/* welcome section */
/* welcome section */
.welcomeSection {
  background-color: var(--bg);
  height: 93.5185185185vh;
}

.welcomeContainer {
  width: var(--bgGrid--Width);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding-top: calc((93.5185185185vh - (var(--welcomeImg--height))) / 2);
}

.welcomeImage img {
  position: flex;
  width: var(--welcomeImg--width);
  height: var(--welcomeImg--height);
  margin-left: calc((var(--bgGrid--Width)) / 2 - (var(--welcomeImg--width)));
}

.titleContainer button {
  border: none;
  background-color: var(--redtext);
  border-radius: 15px;
  margin-top: 20px;
  padding: 0.5em;
  width: 80px;
  cursor: pointer;
}

/* welcome s */
#particles-js {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 93.5185185185vh;
  margin-top: 6.4814814815vh;
}

/* Welcome Animation */
.titleContainer {
  width: 350px;
  overflow: hidden;
}

.titleContainer .text.secoundText {
  position: relative;
  color: var(--redtext);
  font-size: 2rem;
  font-weight: 800;
}

.titleContainer .text.firstText {
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}

.text.secoundText:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg);
  border-left: 2px solid var(--white);
  animation: animate 6s steps(15) infinite;
}

@keyframes animate {
  40%, 60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}
/* About me section */
/* About me section */
.aboutMeSection {
  background-color: var(--bg--Light);
  height: var(--bgGrid--height);
  place-content: center;
}

.aboutMeConteiner {
  display: grid;
  grid-template-rows: 1, 100%;
  width: var(--bgGrid--Width);
  grid-template-columns: repeat(2, 50%);
  direction: rtl;
}

.img-container img {
  display: inline-block;
  width: var(--welcomeImg--width);
  height: var(--welcomeImg--height);
  margin: 0 auto;
  margin-right: calc(var(--bgGrid--Width) / 2 - (var(--welcomeImg--width)));
}

.textContainer,
.img-container {
  margin-top: calc((var(--bgGrid--height) - (var(--welcomeImg--height))) / 2);
  margin-bottom: calc((var(--bgGrid--height) - (var(--welcomeImg--height))) / 2);
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  direction: ltr;
  font-size: var(--textContainer);
  color: var(--white);
  border-radius: 15px;
  background-color: var(--bg);
}

.textContainer h2,
.textContainer p,
.mySkillsContainer h3 {
  margin-left: 25px;
  margin-right: 25px;
}

.textContainer h2 {
  margin-top: 25px;
  margin-bottom: 1em;
}

.mySkillsContainer h3 {
  text-align: start;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  place-content: center;
  text-align: center;
}

.skillsName {
  font-size: var(--textContainer);
  color: var(--white);
  margin: 25px;
}

.skillsName span {
  border-bottom: 5px solid var(--redtext);
}

/* projects */
.projectsSection {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--bg);
}

.containerJavaScriptCard,
.containerHtmlCard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  height: 250px;
}

.HtmlTitle {
  margin-bottom: 50px;
}

.JavaScriptTitle {
  margin-top: 250px;
  margin-bottom: 50px;
}

.projectsSection div {
  gap: 30px;
}

.card a img {
  width: 300px;
  height: 200px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #CCCCCC;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}

.containerHtmlCard::-webkit-scrollbar-track,
.containerJavaScriptCard::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  background-color: #CCCCCC;
}

.containerHtmlCard::-webkit-scrollbar,
.containerJavaScriptCard::-webkit-scrollbar {
  border-radius: 25px;
  height: 10px;
  background-color: #F5F5F5;
}

.containerHtmlCard::-webkit-scrollbar-thumb,
.containerJavaScriptCard::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}

/* Footer */
/* Footer */
.footerSection {
  place-content: baseline;
  height: 6.4814814815vh;
  background-color: var(--headerbg);
}

#container-footer {
  width: 100%;
  height: 6.4814814815vh;
  background-color: var(--headerbg);
  color: var(--white);
  display: flex;
  justify-content: space-between;
}

#container-footer > p {
  padding: 1.1em;
}

/*Intro animation*/
/*Intro animation*/
.intro {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #1f1f1f;
  transition: 0.7s;
  z-index: 101;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-size: 1.5rem;
}

.logo.appear {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 7.8125vw;
  opacity: 0;
  transition: ease-in-out 0.7s;
}

/* responsive */
/* responsive */
@media (max-width: 960px) {
  :root {
    --welcomeImg--width: auto;
    --welcomeImg--height: 45vh;
  }
  .bgGrid {
    width: 70vw;
    height: 100vh;
    margin-left: 15vw;
    margin-right: 15vw;
    place-content: center;
  }
  .nav {
    gap: 0;
    justify-content: center;
    margin-left: 14.4vw;
    margin-right: 15vw;
  }
  .welcomeSection {
    height: calc((var(--bgGrid--height)) - 6.4814814815vh);
  }
  .welcomeContainer {
    display: flex;
    height: 100%;
    width: 70vw;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 0;
  }
  .aboutMeConteiner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 0;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .aboutMeConteiner .img-container img {
    margin: 0;
    width: var(--welcomeImg--width);
    height: var(--welcomeImg--height);
  }
  .img-container {
    margin: 0;
  }
  .mySkillsContainer {
    visibility: hidden;
    position: absolute;
  }
  .mySkillsContainer h3 {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .textContainer {
    font-size: medium;
    margin: 0;
    height: 45vh;
  }
  .firstContainerSkills,
  .secoundContainerSkills {
    display: flex;
    flex-direction: column;
    font-size: small;
    height: 5vh;
  }
  .textContainer h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .firstContainerSkills div,
  .secoundContainerSkills div {
    margin: 10px;
    width: 50px;
    height: 30px;
  }
  .section-title {
    font-size: small;
  }
  .skillsName span {
    font-size: 15px;
    border-bottom: none;
  }
  #myBtn {
    padding: 3px;
    display: block;
    margin: 10px;
  }
  .welcomeImage img {
    margin: 0;
    width: var(--welcomeImg--width);
    height: var(--welcomeImg--height);
  }
  .nav a {
    font-size: 14px;
  }
  .picLogo,
  .nameLogo {
    position: absolute;
    visibility: hidden;
  }
  .skillsContainer {
    height: auto;
    row-gap: 100px;
  }
  .card {
    width: 53vw;
  }
  .bg-image {
    width: 53vw;
  }
  .navLogo img {
    margin-top: 8px;
  }
  .firstText.text.firstText,
  .secoundText.text.secoundText {
    font-size: larger;
  }
  .verticalNav {
    margin-right: 1vw;
  }
  .navVer div {
    width: 30px;
    height: 30px;
  }
  .fa-solid,
  .fa-brands {
    margin-left: 6px;
  }
  .navVer i {
    place-content: center;
    font-size: 14px;
    height: 20px;
    color: white;
  }
}
@media (max-width: 550px) {
  .JavaScriptTitle {
    margin: 0;
  }
  #nameLogo {
    visibility: hidden;
  }
}
/* The Modal */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: visible;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  font-family: "Courier New", Courier, monospace;
}

::-moz-placeholder {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #1f242d;
  margin: 0 auto;
  padding: 0;
  width: 600px;
  height: 600px;
  gap: 1vh;
  place-content: initial;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-direction: column;
}

div.modal-header {
  background-color: #1f242d;
  color: white;
  font-size: 2em;
  text-align: center;
  border-radius: 0 15px;
}

.containerContact {
  display: flex;
  place-content: center;
  align-items: center;
  height: 550%;
  max-width: 100%;
}

div.contactMe {
  height: 100%;
}

section.contact {
  height: 100%;
}

form.contactForm {
  display: flex;
  flex-direction: column;
}

.contactForm {
  width: 100%;
  height: 100%;
  place-content: center;
}

.contactForm .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #0ef;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ededed;
  margin: 12px 0;
}

.field.error .item {
  border-color: #d93025;
}

.field.item::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.field.item::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.field .error-txt {
  font-size: 12px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.field.error .error-txt {
  display: block;
}

.contactForm .textarea-field .item {
  resize: none;
}

.contactForm .textarea-field .error-txt {
  margin-top: -10px;
}

.divBtnModal {
  display: grid;
  place-content: center;
}

.contactForm button {
  width: 100%;
  padding: 12px 32px;
  background: #0ef;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #0ef;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin: 2px 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  margin: 2px 15px;
  cursor: pointer;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.contactForm button:hover {
  box-shadow: none;
}

@media (max-width: 1200px) {
  .input-box .input-field {
    width: 48.5%;
  }
  .modal {
    padding-top: 10vh;
  }
  .modal-content {
    width: 600px;
    height: 600px;
  }
  .contactForm {
    place-content: center;
  }
}
@media (max-width: 620px) {
  .field .error-txt {
    font-size: 8px;
    margin: -5px 0 10px;
    display: none;
  }
  div.modal-header {
    font-size: 1em;
    margin-top: 15px;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .field .item {
    width: 100%;
    padding: 10px;
    margin-left: 20px;
  }
  div.input-box {
    height: 60px;
    width: 360px;
  }
  textarea#message.item {
    width: 360px;
    height: 130px;
  }
  .modal {
    padding-top: 200px;
  }
  .field .item {
    margin-left: 0;
  }
  .contactForm {
    width: 340px;
    height: 340px;
  }
  .modal-content {
    width: 400px;
    height: 400px;
  }
}/*# sourceMappingURL=main.css.map */