* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */

    --black: linear-gradient(90deg, rgb(43, 38, 38) 0%, #626262 100%);
    --blacktext: linear-gradient(90deg, rgb(15, 14, 14) 0%, #221919 100%);
    --grey: #626262;
    --redGradient: linear-gradient(90deg, rgb(204, 32, 32) 0%, orange 100%);
    --red: rgb(204, 32, 32);
    --white: #fff;

}

.bd-grid {
    max-width: 75vw;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    margin: 0 10vw;
}

body {
    background: var(--black);
    background-color: var(--blacktext);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-image: red;
    background-color: var(--black);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    background-color: white;
}

body::-webkit-scrollbar {
    width: 5px;
    border-radius: 25px;
    background-color: var(--grey);
}

a {
    text-decoration: none;
    font-weight: 600;
}

div h1 {
    background-image: var(--redGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .2s;
    font-size: 4rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

div a,
p {
    background-image: var(--redGradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .2s;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0;
}

header {
    font-family: cursive;
}

#picLogo a {
    padding: 0;
}

li.navItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul.navList {
    padding: 1rem 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nameSpan,
#picLogo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--blacktext);
    height: 100%;
}

.liList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.liList li {
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

#projectHeader {
    text-align: center;
}

.navList div.liList li.navItem:last-child {
    margin: 0 1rem 0 1rem;
    padding: 0;
}


#btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 5rem;
}

.containerTech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 5rem;
}

.imageCountainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}


.buttomNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
}

.buttomNavBar p {
    padding: 0 1rem;
}

div#project img {
    width: 100%;
    height: auto;
}

@media (max-width: 1000px) {


    .liList li,
    div #nameSpan {
        padding: 0;
        margin: 0 1rem;
    }

    #picLogo {
        display: none;
    }

    .containerTech {
        gap: 0;
    }

    div a,
    p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 570px) {

    .liList li,
    div #nameSpan {
        padding: 0;
        margin: 0 0.5rem;
    }

    div a,
    p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 480px) {

    .liList li,
    div #nameSpan {
        padding: 0;
        margin: 0 0.5rem;
    }

    div a,
    p {
        font-size: 0.85rem;
    }

}